[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-KDE-FactoryName=hwinfo

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoinstResource=

Icon=system
Exec=/sbin/yast2 hwinfo 

Name=Hardware information
GenericName=Show hardware information
Name[cs]=Informace o hardwaru
GenericName[cs]=Zobrazit informace o hardwaru
Name[de]=Hardware-Informationen
GenericName[de]=Hardware-Informationen anzeigen
Name[en]=Hardware Information
Name[es]=Información sobre el hardware
GenericName[es]=Mostrar información sobre el hardware
Name[hu]=Hardver információ
GenericName[hu]=Hardver információk megjelenítése
Name[it]=Mostra informazioni hardware
GenericName[it]=Mostra informazioni hardware
Name[ko]=하드웨어 정보
GenericName[ko]=하드웨어 정보를 표시합니다
Name[nl]=Hardware info
GenericName[nl]=Hardware info bekijken
Name[pt]=Informação de Hardware
GenericName[pt]=Mostrar Informação de Hardware
Name[sk]=Informácie o hardware
GenericName[sk]=Zobraziť informácie o hardware
Name[sv]=Hårdvaruinformation
GenericName[sv]=Visa hårdvaruinformation
Name[da]=Udstyrsinformation
GenericName[da]=Vis udstyrsinformation
Name[el]=Πληροφορίες υλικού
GenericName[el]=Εμφάνιση πληροφοριών υλικού
Name[en]=Hardware Information
Name[fr]=Informations sur le matériel
GenericName[fr]=Afficher les informations sur le matériel
Name[ja]=ハードウェア情報
GenericName[ja]=ハードウェア情報の表示
Name[lt]=Informacija apie įtaisus
GenericName[lt]=Rodyti informacija apie įtaisus
Name[sl]=Podatki o strojni opremi
GenericName[sl]=Prikaži podatke o strojni opremi
Name[tr]=Donanım bilgisi
GenericName[tr]=Donanım bilgisini göster
