[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=hwinfo

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=hardware,scan,system,information

Icon=yast-hwinfo
Exec=xdg-su -c "/sbin/yast2 hwinfo"

Name=Hardware Information
GenericName=View hardware information
StartupNotify=true
